@charset "utf-8";
/* CSS Document */

body{
    font-family: "VAGRounded Light", Arial, sans-serif;
    font-size: 14px;
    line-height:1.5;
}

/****************************************************************************
----------------------------------------------------------------------------- General
**/

.container{
    overflow: hidden;
    margin:0 auto;
    width: 1024px;
    height: 768px;
    background-color: #e2e6e8;
    position: relative;
}

@font-face {
    font-family: "VAGRounded Light";
    src: url("../fonts/VAGRounded-Light.ttf");
}

@font-face {
    font-family: "Rockwell Regular";
    font-weight: normal;
    src: url("../fonts/ROCK.TTF");
}

h2, /* Welkom */
h3{ /* big card */
    font-family: "Rockwell Regular", Serif;
    font-size: 34px;
    text-transform: uppercase;
    font-weight: normal;
    color: #77b700;
    width: 100%;
}

h3{ /* big card */
    text-align: center;
    font-size: 24px;
}

h4{ /* total amount */
    font-family: "Rockwell Regular", Serif;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: normal;
    color: #e2e6e8;
}

h5{ /* side cards, middle cards */
    font-family: "Rockwell Regular", Serif;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: normal;
    width: 100%;
    color: #77b700;
}

span.bold{
    font-weight: bold;
}

/****************************************************************************
----------------------------------------------------------------------------- Shopping list
**/

.shopping-list{
    width: 310px;
    height: 768px;
    float: left;
    background: #dfdfd0;
    position: relative;
}

.shopping-list .collumn1{
    width: 35px;
    float: left;
    text-align: center;
    display: block;
}

.shopping-list .collumn2{
    width: 200px;
    float: left;
}

.shopping-list .collumn3{
    width: 68px;
    margin: 0 7px 0 0;
    float: left;
    text-align: right;
    display: block;
}

.shopping-list .shopping-list-header{
    height: 50px;
    width: 100%;
}

.shopping-list .shopping-list-header p{
    font-family: "Rockwell Regular", Serif;
    font-size: 18px;
    color: #000;
    margin: 0 0 0 7px;
}

.shopping-list .shopping-list-header .row p{
    margin: 0;
    font-size: 16px;
}

.shopping-list .shopping-list-items{
    float: left;
    width: 100%;
    height: 637px;
    /*overflow-y: scroll;*/
}

.shopping-list .shopping-list-items .row{
    width: 100%;
    float: left;
    padding: 5px 0;
}

.shopping-list .shopping-list-items .row .shopping-list-active-buttons{
    display: none;
}

.shopping-list .shopping-list-items .row.active{
    background: #77b700;
    height: 50px;
    box-sizing: content-box;
    color: #e2e6e8;
    padding: 0 0 10px 0;
}

.shopping-list .shopping-list-items .row.active .shopping-list-active-buttons{
    display: block;
    float: left;
    width: 100%;
}

.shopping-list .shopping-list-items .row.active .shopping-list-active-buttons figure{
    width: 25px;
    margin: 6px 0 0 35px;
    float: left;
}

.shopping-list .shopping-list-items .row.active .shopping-list-active-buttons .minus{
    margin: 6px 0 0 10px;
}

.shopping-list .shopping-list-items .row.justadded{
    animation: row-just-added 1s;
}

@keyframes row-just-added {
    0% {
        background-color: #77b700;
        color: #fff;
    }
    50% {
        background-color: #77b700;
        color: #fff;
    }
    100% {
        background-color: #dfdfd0;
        color: #333333;
    }
}

.shopping-list .shopping-list-items p.gray{
    color: #727272;
}

.shopping-list .shopping-list-items img.check{
    width: 40%;
    margin: 4px auto 0 auto;
    display: block;
}

.shopping-list .bottom{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 80px;
    background: #000;
}

.shopping-list .bottom h4{
    margin: 25px 0 0 0;
}

.shopping-list .bottom .left{
    width: 210px;
    margin: 0 0 0 15px;
    float: left;
}

.shopping-list .bottom .right{
    width: 75px;
    margin: 0 10px 0 0;
    float: left;
    text-align: right;
}

/****************************************************************************
-----------------------------------------------------------------------------Top bar
**/

.top-bar{
    float: left;
    background: #000;
    width: 714px;
    height: 30px;
}

.top-bar p{
    float: right;
    font-family: "Rockwell Regular";
    color: #e2e6e8;
    margin: 0 15px 0 0;
}

.top-bar p span.a{
    font-size: 14px;
}

.top-bar p span.b{
    font-size: 18px;
    border-bottom: 2px solid #e2e6e8;
    margin: 0 5px;
    padding: 0 2px;
}

.top-bar p span.c{
    font-size: 22px;
}

/****************************************************************************
----------------------------------------------------------------------------- Main
**/

.main{
    float: left;
    width: 714px;
    height: 658px;
    position: relative;
}

.main .product{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    z-index: 1;
}

.main .product.active{
    opacity: 1;
    z-index: 2;
}

.main .product.active .side-card-1{
    animation: side-card-slide-in 0.5s ease-out;
}

.main .product.active .side-card-2{
    transform: translateX(400px);
    animation: side-card-slide-in 0.5s 0.25s ease-out forwards;
}

@keyframes side-card-slide-in {
    0%{
        transform: translateX(400px);
    }
    100%{
        transform: translateY(0);
    }
}

/****************************************************************************
----------------------------------------------------------------------------- SCANNED PRODUCTS
**/

.main .scanned-products{
    float: left;
}

.main .scanned-products .side-cards-header{
    width: 100%;
    height: 40px;
}

.main .scanned-products .side-cards-header h5{
    padding: 6px 0 0 0;
}

/****************************************************************************
----------------------------------------------------------------------------- WELCOME
**/

.welcome{
    float: left;
    margin: 40px;
    width: calc(100% - 80px);
    height: 578px;
    position: relative;
    z-index: 0;
    opacity: 0;
}

.welcome.active{
    opacity: 1;
    z-index: 2;
}

.welcome .welcome-text{
    float: left;
}

.welcome .welcome-text p{
    font-size: 20px;
}

.welcome .logo{
    float: right;
    width: 150px;
}

.welcome .additional-text{
    border-top: 1px dotted #77b700;
    float: left;
    width: 100%;
    font-size: 18px;
    font-weight: bold;
    margin: 25px 0 0 0;
    padding: 25px 0 0 0;
}

.welcome .cards{
    position: absolute;
    bottom: 0;
    width: 100%;
}

/****************************************************************************
----------------------------------------------------------------------------- VOTE
**/

.vote,
.vote-results{
    float: left;
    width: calc(100%);
    height: 768px;
    position: absolute;
    z-index: -1;
    opacity: 0;
    top: 0;
    left: 0;
    background: #e2e6e8;
}

.vote-results.active,
.vote.active{
    opacity: 1;
    z-index: 2;
}

.vote-results-inner,
.vote-inner{
    float: left;
    margin: 40px;
    width: calc(100% - 80px);
    height: 688px;
    position: relative;
}

.vote-results .vote-results-text,
.vote .vote-text{
    float: left;
    width: 100%;
    text-align: center;
}

.vote .cards{
    display: flex;
    justify-content: space-around;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.vote .cards .card.middle-card-1,
.vote .cards .card.middle-card-2{
    float: none;
}

/****************************************************************************
----------------------------------------------------------------------------- VOTE RESULTS
**/

.vote-results-inner{
    /*display: flex;*/
    /*flex-direction: column;*/
    /*justify-content: space-between;*/
}

.vote-results .bar-container{
    float: left;
    width: 100%;
    height: 60px;
    margin: 200px 0 0 0;
}

.vote-results .bar-container .image-left,
.vote-results .bar-container .image-right{
    position: relative;
    float: left;
    width: 150px;
    height: 150px;
    border: 2px dotted #77b700;
    background: #dfdfd0;
}

.vote-results .bar-container .image-right{
    float: right;
}

.vote-results .bar-container img{
    position: absolute;
    max-width: 90%;
    max-height: 90%;
    width: auto;
    height: auto;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.vote-results .bar-container .bar{
    width: calc(100% - 348px);
    border-radius: 10px;
    float: left;
    height: 60px;
    margin: 50px 20px 0 20px;
}

.vote-results .bar-container .bar .bar-left,
.vote-results .bar-container .bar .bar-right{
    background: #0E6941;
    height: 60px;
    float: left;
    width: 65%;
    border-radius: 10px 0 0 10px;
}

.vote-results .bar-container .bar .bar-right{
    background: #77b700;
    width: 35%;
    border-radius: 0 10px 10px 0;
}

.vote-results .bar-container .bar p{
    color: #ffffff;
    width: 100%;
    text-align: center;
    font-size: 24px;
    margin: 12px 0 0 0;
}

/****************************************************************************
----------------------------------------------------------------------------- NAVIGATION Buttons
**/

.buttons{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 714px;
    height: 80px;
    background: #333333;
}

.buttons ul{
    margin: 20px 0 20px 0;
}

.buttons ul li{
    float: left;
    margin: 0 56px;
    padding: 5px 10px;
    border: 1px solid #77b700;
    border-radius: 5px;
}

.buttons ul li a {
    font-family: "Rockwell Regular", Serif;
    font-size: 16px;
    text-transform: uppercase;
    color: #e2e6e8;
}

.buttons ul li a:before{
    float: left;
    margin-right: 10px;
    padding: 0 10px 0 0;
    content: "";
    border-right: 1px dotted #77b700;
    margin-top: 2px;
    width: 25px;
    height: 20px;
    background: url("../images/folder.svg") no-repeat;
}

.buttons ul li:first-child a:before{
    padding: 0 8px 0 0;
    width: 18px;
    height: 20px;
    background: url("../images/home.svg") no-repeat;
}

.buttons ul li:last-child a:before{
    padding: 0 5px 0 0;
    background: url("../images/zoeken.svg") no-repeat;
}

/****************************************************************************
----------------------------------------------------------------------------- CARDS
**/

.card{
    float: left;
    background: #dfdfd0;
}

.card .card-header{
    background: #000;
    border-radius: 10px 10px 0 0;
    text-align: center;
}

.card .card-header h3{
    padding: 7px 0;
}

.card .card-header h5{ /* small */
    padding: 3px 0;
}

.card .card-inner .card-image{
    position: relative;
    text-align: center;
    width: 100%;
}

.card .card-inner .card-image img.image{
    position: absolute;
    max-width: 90%;
    max-height: 90%;
    width: auto;
    height: auto;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.card .card-inner .card-image img.sticker{
    width: 90px;
    height: 90px;
    position: absolute;
    top: 40%;
    left: 50%;
}

.card .card-bottom{
    height: 35px;
    background: #77b700;
    display: flex;
    align-content: center;
    width: 100%;
    transition: 0.5s;
}

.card .card-bottom a{
    color: #fff;
    font-size: 19px;
    padding: 3px 0 0 0;
    display: block;
    margin: 0 auto;
}

.card .card-bottom a:before{
    content: "";
    background: url("../images/add-to-list.svg") no-repeat;
    float: left;
    margin: 2px 0 0 -20px;
    width: 33px;
    height: 22px;
}

.card.clicked .card-bottom{
    background: #333333;
}

.card.clicked .card-bottom a:before{
    background: url("../images/checked.svg") no-repeat;
    margin: 4px 0 0 -20px;
    height: 18px;
}

.vote .card .card-bottom a:before{
    background: url("../images/vote.svg") no-repeat;
}

/* Big card */
.card.card-big{
    width: 373px;
    height: 578px;
    margin: 40px 40px;
    border-bottom: 2px solid #77b700;
}

.card.card-big .card-big-inner{
    margin: 20px;
    width: calc(100% - 40px);
    height: 280px;
}

.card.card-big .card-big-inner .card-image.card-big-image{
    padding-bottom: 280px;
}

.card.card-big .card-big-inner .price{
    font-size: 34px;
}

.card.card-big .card-big-inner .warning{
    width: 100%;
    float: left;
    margin: 20px 0 0 0;
}

.card.card-big .card-big-inner .warning .warning-sign{
    width: 30px;
    float: left;
}

.card.card-big .card-big-inner .warning .warning-text{
    float: left;
    margin: 0 0 0 10px;
    width: 293px;
}

/* Middle card */
.card.middle-card{
    width: 297px;
}

.card.middle-card.middle-card-1{
    float: left;
}

.card.middle-card.middle-card-2{
    float: right;
}

.card.middle-card .card-middle-inner{
    margin: 10px;
    width: calc(100% - 20px);
    height: 295px;
}

.card.middle-card .card-middle-inner .card-image.card-middle-image{
    padding-bottom: 295px;
}

/* Side card */
.card.side-card{
    width: 221px;
    float: left;
}

.card.side-card.side-card-1{
    margin: 0 0 20px 0;
}

.card.side-card .card-side-inner{
    margin: 10px;
    width: calc(100% - 20px);
    height: 195px;
}

.card.side-card .card-side-inner .card-image.card-side-image{
    padding-bottom: 195px;
}

.card .additional-info{
    display: none;
}